<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aibaixun.iotdm.mapper.DevicePropertyReportMapper">

    <select id="selectLatestDeviceProperty" resultType="com.aibaixun.iotdm.data.DevicePropertyInfo">
        SELECT
         pr.property_id,
         pr.device_id,
         pr.property_value,
         pr.ts ,
         pr.property_label,
         pm.model_label
        FROM
            t_device_property_report pr
        LEFT JOIN t_model_property mp ON mp.id = pr.property_id
        LEFT JOIN t_product_model pm ON mp.product_model_id = pm.id
        WHERE
            pr.device_id = #{deviceId}
        AND  pm.deleted = 0
        ORDER by pr.property_id
    </select>


    <select id="selectShadowDeviceProperty" resultType="com.aibaixun.iotdm.data.DevicePropertyInfo">
        SELECT
            pr.property_id,
            pr.device_id,
            pr.property_value,
            pr.ts,
            mp.property_label,
            pm.model_label,
            mp.scope
        FROM
            t_product_model pm
        LEFT JOIN t_model_property mp ON mp.product_model_id = pm.id
        LEFT JOIN t_device_property_report pr ON mp.id = pr.property_id
        WHERE
            pm.product_id = #{productId}
          AND pm.deleted = 0
        ANd pr.device_id = #{deviceId}
        <if test="propertyLabel != null and propertyLabel != ''">
            AND     mp.property_label LIKE concat(#{propertyLabel},'%')
        </if>
        ORDER by pm.id
    </select>

    <insert id="saveOrUpdateBatch" parameterType="list">
        insert into t_device_property_report ( device_id, property_id, property_label,property_value, ts)
        values
        <foreach collection="entities" item="item" index="index" separator=",">
         ( #{item.deviceId}, #{item.propertyId}, #{item.propertyLabel},#{item.propertyValue}, #{item.ts})
        </foreach>
        ON DUPLICATE KEY UPDATE
        property_value =VALUES( property_value ),ts =VALUES(ts)
         </insert>
</mapper>
