<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aibaixun.iotdm.mapper.DeviceMapper">

    <select id="countDevice" resultType="com.aibaixun.iotdm.data.KvData">
        SELECT
            d.device_status as label,
            COUNT( d.device_status ) as dataValue
        FROM
            t_device d
        WHERE
            d.deleted = 0
            <if test="tenantId != 'NULL'">
               AND d.tenant_id = #{tenantId}
            </if>
            <if test="productId != null and productId != ''">
                AND d.product_id = #{productId}
            </if>

        GROUP BY
            d.device_status
    </select>


    <select id="selectPageDeviceInfo" resultType="com.aibaixun.iotdm.data.DeviceEntityInfo">

        SELECT
            d.id,
            d.device_label,
            d.device_code,
            d.product_id,
            d.node_type,
            d.device_status,
            p.product_label
        FROM
            t_device d
        LEFT JOIN  t_product p ON p.id = d.product_id
        WHERE
            d.tenant_id = #{tenantId}
        AND d.deleted = 0
        <if test="deviceStatus != null">
            AND d.device_status = #{deviceStatus}
        </if>
        <if test="searchKey != null and searchKey != '' and searchValue != null and searchValue != ''">
            AND ${searchKey} like  CONCAT(#{searchValue},'%')
        </if>
        ORDER BY d.create_time DESC

    </select>


    <select id="selectPageSubDeviceInfo" resultType="com.aibaixun.iotdm.data.DeviceEntityInfo">
        SELECT
            d.id,
            d.device_label,
            d.device_code,
            d.product_id,
            d.node_type,
            d.device_status,
            p.product_label
        FROM
            t_device d
        LEFT JOIN  t_product p ON p.id = d.product_id
        WHERE
        d.gateway_id = #{gateWayId}
        AND d.deleted = 0
        ORDER BY d.create_time DESC
    </select>


    <select id="selectPageDeviceInfoByGroup" resultType="com.aibaixun.iotdm.data.DeviceEntityInfo">

        SELECT
            d.id,
            d.device_label,
            d.device_code,
            d.product_id,
            d.node_type,
            d.device_status,
            p.product_label
        FROM
            t_device d
            LEFT JOIN  t_product p ON p.id = d.product_id
        <if test="groupId != null and groupId != ''">
            LEFT JOIN t_device_group_relation dgr ON dgr.device_id = d.id
        </if>
        WHERE
            d.tenant_id = #{tenantId}         AND d.deleted = 0
        <if test="groupId != null and groupId != ''">
            dgr.group_id = #{groupId}
        </if>
        <if test="productId != null and productId != ''">
            AND d.product_id = #{productId}
        </if>
        <if test="deviceStatus != null">
            AND d.device_status = #{device_status}
        </if>
        <if test="deviceCode != null and deviceCode != '' ">
            AND d.device_code like  CONCAT('%',#{deviceCode})
        </if>
        <if test="deviceLabel != null and deviceLabel != '' ">
            AND d.device_label like  CONCAT('%',#{deviceLabel})
        </if>
        ORDER BY d.create_time DESC
    </select>
</mapper>
