<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aibaixun.iotdm.mapper.ForwardTargetMapper">


    <resultMap id="ruleTargetAndResourceMap" type="com.aibaixun.iotdm.data.RuleTargetEntityResource">
        <id property="id" column="id"/>
        <result column="forward_rule_id" property="forwardRuleId" />
        <result column="rule_resource_id" property="ruleResourceId" />
        <result column="configuration" property="configuration" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
        <association property="ruleResource" javaType="com.aibaixun.iotdm.entity.RuleResourceEntity">
            <result column="resource_id" property="id" />
            <result column="resource_label" property="resourceLabel" />
            <result column="resource_configuration" property="configuration" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
        </association>

    </resultMap>

    <select id="countTargetByResourceId" resultType="java.lang.Long">
        SELECT
            COUNT( ft.id )
        FROM
            t_forward_target ft
        LEFT JOIN t_forward_rule fr ON fr.id = ft.forward_rule_id
        WHERE
            ft.rule_resource_id = #{resourceId}
          AND fr.deleted = 0
    </select>


    <select id="selectRuleTargetAndResourceByRuleId" resultMap="ruleTargetAndResourceMap">
        SELECT
            ft.id,
            ft.forward_rule_id,
            ft.rule_resource_id,
            ft.configuration,
            rr.id as resource_id,
            rr.resource_label,
            rr.configuration AS resource_configuration
        FROM
            t_forward_target ft
                LEFT JOIN t_rule_resource rr ON rr.id = ft.rule_resource_id
        WHERE
            ft.forward_rule_id = #{ruleId}
    </select>

</mapper>
