<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aibaixun.iotdm.mapper.ProductModelMapper">

    <resultMap id="ProductModelInfoResultMap" type="com.aibaixun.iotdm.support.ProductModelInfo">
        <id property="id" column="id"/>
        <result property="modelLabel" column="model_label"/>
        <result property="description" column="description"/>
        <collection property="properties" ofType="com.aibaixun.iotdm.entity.ModelProperty">
           <id column="mpid" property="id" />
            <result column="property_label" property="propertyLabel" />
            <result column="data_type" property="dataType" />
            <result column="scope" property="scope" />
            <result column="mpdescription" property="description" />
        </collection>

        <collection property="commands" ofType="com.aibaixun.iotdm.entity.ModelCommand">
            <id column="mcid" property="id" />
            <result column="command_label" property="commandLabel" />
            <result column="params" property="params" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result column="responses" property="responses" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result column="mcdescription" property="description" />
        </collection>
    </resultMap>

    <select id="selectProductModelInfoByProductId" resultMap="ProductModelInfoResultMap">
        SELECT
            pm.id,
            pm.model_label,
            pm.description,
            mp.id AS mpid,
            mp.property_label,
            mp.data_type,
            mp.scope,
            mp.mpdescription,
            mc.id AS mcid,
            mc.command_label,
            mc.mcdescription,
            mc.params,
            mc.responses
        FROM
            t_product_model pm
                LEFT JOIN t_model_property mp ON mp.product_model_id = pm.id
                LEFT JOIN t_model_command mc ON mc.product_model_id = pm.id
        WHERE
            pm.product_id = #{productId}
    </select>
</mapper>
